In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_excel('s11cbr.xlsx')
data.shape

(123, 12)

In [3]:
# describe function
data.describe()

,LL,PL,PI,OMC,MDD,TS,P1,P2,P3,P4,NO. OF LAYRER,CBR
count,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,89.000000,63.000000,48.000000,2.200000e+01,123.000000,123.000000
mean,36.975610,23.910569,13.728455,16.941463,11.765984,18.369431,0.257865,0.487619,0.670000,8.000000e-01,1.804878,17.628577
std,24.268128,15.420344,11.533902,7.948697,6.464870,7.775770,0.167993,0.142848,0.100552,2.272699e-16,1.171090,21.851406
min,0.000000,0.000000,0.000000,8.300000,0.001900,2.810000,0.170000,0.400000,0.600000,8.000000e-01,1.000000,1.000000
25%,18.000000,14.000000,3.500000,12.000000,4.850000,13.000000,0.200000,0.400000,0.600000,8.000000e-01,1.000000,3.320000
50%,45.000000,28.000000,10.400000,13.900000,13.330000,19.000000,0.200000,0.400000,0.600000,8.000000e-01,1.000000,8.930000
75%,55.000000,35.000000,23.000000,18.000000,17.120000,20.000000,0.200000,0.500000,0.800000,8.000000e-01,2.000000,23.095000
max,71.000000,45.000000,35.000000,35.000000,19.620000,35.000000,0.840000,0.840000,0.840000,8.000000e-01,4.000000,105.000000

In [4]:
data.isnull().sum()

LL                 0
PL                 0
PI                 0
OMC                0
MDD                0
TS                 0
P1                34
P2                60
P3                75
P4               101
NO. OF LAYRER      0
CBR                0
dtype: int64

In [5]:
data.head()

   LL  PL   PI   OMC   MDD    TS  P1   P2   P3  P4  NO. OF LAYRER    CBR
0   0   0  0.0  11.0  3.36  20.0 NaN  NaN  0.8 NaN              1  103.0
1   0   0  0.0  10.0  5.36  20.0 NaN  0.5  NaN NaN              1   74.0
2   0   0  0.0  10.0  4.83  20.0 NaN  NaN  0.8 NaN              1  104.0
3   0   0  0.0  11.0  4.98  20.0 NaN  0.5  NaN NaN              1   75.0
4   0   0  0.0  12.0  3.97  20.0 NaN  NaN  0.8 NaN              1  105.0

In [6]:
# dropping all rows whereeaver there are any missing values

data.dropna()

,LL,PL,PI,OMC,MDD,TS,P1,P2,P3,P4,NO. OF LAYRER,CBR
44,71,39,32.0,33.0,12.54,18.00,0.2,0.4,0.6,0.8,4,8.720
45,71,39,32.0,33.0,12.54,18.00,0.2,0.4,0.6,0.8,4,9.010
46,71,39,32.0,33.0,12.54,18.00,0.2,0.4,0.6,0.8,4,8.930
47,71,39,32.0,33.0,12.54,18.00,0.2,0.4,0.6,0.8,4,9.890
48,71,39,32.0,33.0,12.54,18.00,0.2,0.4,0.6,0.8,4,13.610
49,71,39,32.0,33.0,12.54,16.00,0.2,0.4,0.6,0.8,4,5.430
50,71,39,32.0,33.0,12.54,16.00,0.2,0.4,0.6,0.8,4,5.940
51,71,39,32.0,33.0,12.54,16.00,0.2,0.4,0.6,0.8,4,5.760
52,71,39,32.0,33.0,12.54,16.00,0.2,0.4,0.6,0.8,4,6.950
53,71,39,32.0,33.0,12.54,16.00,0.2,0.4,0.6,0.8,4,9.035
54,62,38,24.0,35.0,13.33,9.00,0.2,0.4,0.6,0.8,4,2.240
55,62,38,24.0,35.0,13.33,9.00,0.2,0.4,0.6,0.8,4,2.580
56,62,38,24.0,35.0,13.33,9.00,0.2,0.4,0.6,0.8,4,2.770
57,62,38,24.0,35.0,13.33,9.00,0.2,0.4,0.6,0.8,4,2.900
58,62,38,24.0,35.0,13.33,9.00,0.2,0.4,0.6,0.8,4,3.120
59,62,38,24.0,35.0,13.33,9.00,0.2,0.4,0.6,0.8,4,1.320
60,62,38,24.0,35.0,13.33,9.00,0.2,0.4,0.6,0.8,4,1.560
61,62,38,24.0,35.0,13.33,9.00,0.2,0.4,0.6,0.8,4,1.670
62,62,38,24.0,35.0,13.33,9.00,0.2,0.4,0.6,0.8,4,1.750
63,62,38,24.0,35.0,13.33,9.00,0.2,0.4,0.6,0.8,4,1.880
105,59,34,35.0,18.2,17.10,4.00,0.2,0.4,0.6,0.8,4,12.000
109,59,34,35.0,18.2,17.10,2.81,0.2,0.4,0.6,0.8,4,8.400

In [7]:
# dropping rows where all the enteries are missing

data.dropna(how='all').shape

(123, 12)

In [8]:
# dropping columns with any missing values

data.dropna(axis=1).shape

(123, 8)

In [9]:
data.head()

   LL  PL   PI   OMC   MDD    TS  P1   P2   P3  P4  NO. OF LAYRER    CBR
0   0   0  0.0  11.0  3.36  20.0 NaN  NaN  0.8 NaN              1  103.0
1   0   0  0.0  10.0  5.36  20.0 NaN  0.5  NaN NaN              1   74.0
2   0   0  0.0  10.0  4.83  20.0 NaN  NaN  0.8 NaN              1  104.0
3   0   0  0.0  11.0  4.98  20.0 NaN  0.5  NaN NaN              1   75.0
4   0   0  0.0  12.0  3.97  20.0 NaN  NaN  0.8 NaN              1  105.0

In [14]:
data.dropna(axis=1,how='all')

     LL  PL    PI   OMC    MDD    TS   P1   P2   P3  P4  NO. OF LAYRER     CBR
0     0   0   0.0  11.0   3.36  20.0  NaN  NaN  0.8 NaN              1  103.00
1     0   0   0.0  10.0   5.36  20.0  NaN  0.5  NaN NaN              1   74.00
2     0   0   0.0  10.0   4.83  20.0  NaN  NaN  0.8 NaN              1  104.00
3     0   0   0.0  11.0   4.98  20.0  NaN  0.5  NaN NaN              1   75.00
4     0   0   0.0  12.0   3.97  20.0  NaN  NaN  0.8 NaN              1  105.00
..   ..  ..   ...   ...    ...   ...  ...  ...  ...  ..            ...     ...
118  52  35  17.0  13.9  19.22  30.0  0.2  0.4  0.6 NaN              3    4.88
119  35  25  10.4  13.9  18.30  35.0  0.2  NaN  NaN NaN              1    4.90
120  35  25  10.4  11.9  18.30  35.0  NaN  0.4  NaN NaN              1   12.20
121  35  25  10.4  15.0  18.30  35.0  NaN  NaN  0.6 NaN              1    3.70
122  35  25  10.4  11.9  18.30  35.0  0.2  NaN  0.6 NaN              2   13.90

[123 rows x 12 columns]

In [10]:
x=data.drop(['CBR'],axis=1)
y=data['CBR']
x.shape, y.shape

((123, 11), (123,))

In [11]:
from sklearn.model_selection import train_test_split 
train_x,test_x,train_y,test_y = train_test_split(x,y,random_state=56)

In [12]:
from sklearn.linear_model import LinearRegression as LR
from sklearn.metrics import mean_absolute_error as mae

In [13]:
lr=LR()
lr.fit(train_x,train_y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').